@import url('http:s//fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #bedfe8;
}

.accordion {
  max-width: 800px;
}

.accordion .content-box {
  position: relative;
  margin: 10px 20px;
}

.accordion .content-box .label {
  position: relative;
  padding: 10px;
  background: #2694af;
  color: #FFF;
  cursor: pointer;
}

.accordion .content-box .label::before {
  content: '+';
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 1.5rem;
}

.accordion .content-box.active .label::before {
  content: '-';
}

.accordion .content-box .content {
  position: relative;
  background: #FFF;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  overflow-y: auto;
}

.accordion .content-box.active .content{  
  height: 150px;
  padding: 10px
}
